@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,700&display);

@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise:regular&display);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-facebook:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-location:before {
  content: "\e902";
}

.icon-phone:before {
  content: "\e903";
}

.icon-share:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e905";
}

.icon-youtube:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #433840;
  line-height: 1;
  font-family: "Quicksand";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Quicksand";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  font-family: "Quicksand";
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  min-height: 6.25rem;
  padding: 0.9375rem 0rem;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0.9375rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.menu__link {
  font-size: 1.125rem;
  line-height: 1.2222222222;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.no-webp .about{
  background-image: url("../img/about/about.png"); }

.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__body {
  text-align: center;
}

.about__title {
  font-weight: 700;
  color: #fff;
  font-size: 3.125rem;
  line-height: 1.24;
}

.about__subtitle {
  font-family: "Waiting for the Sunrise";
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 1.6666666667;
  color: #fff;
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.intro__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.intro__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__image-img {
  max-width: 100%;
}

.item-intro__title {
  font-size: 1.875rem;
  line-height: 1.2666666667;
}

.item-intro__title:not(:last-child) {
  margin: 0rem 0rem 0.625rem 0rem;
}

.item-intro__text {
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #9A9A9A;
}

.stats {
  background-color: #FEA3AC;
  position: relative;
}

.stats::before,
.stats::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.no-webp .stats::before{
  background: url("../img/stats/top.png") 0 0 no-repeat; }

.stats::before {
  top: -15%;
}

.no-webp .stats::after{
  background: url("../img/stats/bottom.png") 0 0 no-repeat; }

.stats::after {
  bottom: -80%;
}

.stats__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6.25rem 0rem;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
  row-gap: 1.875rem;
}

.item-stats {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-stats__sum {
  font-family: "Waiting for the Sunrise";
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.65;
  color: #DFEEB6;
}

.item-stats__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #fff;
}

.team__title {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 1.24;
  text-align: center;
}

.team__title:not(:last-child) {
  margin: 0rem 0rem 0.625rem 0rem;
}

.team__subtitle {
  font-family: "Waiting for the Sunrise";
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 1.6666666667;
  color: #FEA3AC;
  text-align: center;
}

.team__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 2.5rem;
}

.item-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  padding: 1.5625rem 0rem;
  position: relative;
  z-index: 2;
}

.item-team_blue::after,
.item-team_green::after {
  content: "";
  position: absolute;
  width: 70.1785714286%;
  height: 100%;
  border-radius: 0.3125rem;
  z-index: 1;
}

.item-team_blue::after {
  background-color: #C9E3F4;
  top: 0;
  right: 0;
}

.item-team_green::after {
  background-color: #DFEEB6;
  top: 0;
  right: 0;
}

.item-team_blue-l::after {
  left: 0;
}

.item-team_green-l::after {
  left: 0;
}

.item-team__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20.625rem;
          flex: 0 1 20.625rem;
  position: relative;
  z-index: 2;
}

.item-team__image-ibg {
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.content-team {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.75rem;
          flex: 0 1 13.75rem;
  padding: 0.625rem;
  position: relative;
  z-index: 2;
}

.content-team__name {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2666666667;
  color: #fff;
}

.content-team__name:not(:last-child) {
  margin: 0rem 0rem 0.3125rem 0rem;
}

.content-team__prof {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25;
}

.content-team__prof:not(:last-child) {
  margin: 0rem 0rem 0.9375rem 0rem;
}

.content-team__text {
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.6666666667;
}

.content-team__text:not(:last-child) {
  margin: 0rem 0rem 1.25rem 0rem;
}

.social-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-team__link {
  font-size: 1.5625rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.no-webp .footer{
  background-image: url("../img/footer/bg.jpg"); }

.footer {
  background-color: rgba(67, 56, 64, 0.85);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  color: #fff;
  font-weight: 700;
  line-height: 1.2666666667;
}

.opening-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  padding: 0rem 0.3125rem;
}

.opening-footer__item {
  line-height: 1.75;
  color: #fff;
}

.opening-footer__item:not(:last-child) {
  margin: 0rem 0rem 0.3125rem 0rem;
}

.opening-footer__item-green {
  color: #DFEEB6;
}

.contact-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  padding: 0rem 0.3125rem;
}

.contact-footer__item {
  color: #fff;
  line-height: 1.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.contact-footer__item:not(:last-child) {
  margin: 0rem 0rem 0.3125rem 0rem;
}

.contact-footer__item span {
  color: #DFEEB6;
}

.contact-footer__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.vidget-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.vidget-footer__title {
  text-align: center;
}

.vidget-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5625rem;
}

.vidget-footer__image {
  border-radius: 0.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bottom-footer {
  background-color: #433840;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.9375rem;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-footer__copy {
  font-size: 0.9375rem;
  line-height: 2.3333333333;
  color: #fff;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
}

.bottom-footer__social {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.bottom-footer__link {
  color: #DFEEB6;
  font-size: 1.25rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (min-width: 73.125em) {
  .about {
    height: 25rem;
  }

  .about {
    margin-bottom: 4.375rem;
  }

  .about__body {
    padding-top: 8.125rem;
  }

  .about__body {
    padding-bottom: 8.125rem;
  }

  .intro {
    margin-bottom: 5rem;
  }

  .intro__item:not(:last-child) {
    margin-bottom: 5rem;
  }

  .stats {
    margin-bottom: 5rem;
  }

  .team {
    margin-bottom: 9.375rem;
  }

  .team__subtitle:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .footer__body {
    padding-top: 3.75rem;
  }

  .footer__body {
    padding-bottom: 3.75rem;
  }

  .footer__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

@media (min-width: 120em) {
  .footer__body {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .footer__title {
    font-size: 1.875rem;
  }

  .opening-footer__item {
    font-size: 1.25rem;
  }

  .contact-footer__item {
    font-size: 1.25rem;
  }
}

@media (max-width: 48em) {
  .footer__body {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .footer__title {
    font-size: 1.25rem;
  }

  .opening-footer__item {
    font-size: 0.9375rem;
  }

  .contact-footer__item {
    font-size: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .about {
    height: 18.75rem;
  }

  .about {
    margin-bottom: 1.875rem;
  }

  .about__body {
    padding-top: 4.375rem;
  }

  .about__body {
    padding-bottom: 4.375rem;
  }

  .intro {
    margin-bottom: 2.5rem;
  }

  .intro__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .stats {
    margin-bottom: 2.5rem;
  }

  .team {
    margin-bottom: 3.125rem;
  }

  .team__subtitle:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .footer__body {
    padding-top: 1.875rem;
  }

  .footer__body {
    padding-bottom: 1.875rem;
  }

  .footer__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 61.99875em) {
  .team__items {
    grid-template-columns: repeat(auto-fill, minmax(18.125rem, 60rem));
    row-gap: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-team_blue::after,
  .item-team_green::after {
    width: 83.6170212766%;
  }

  .content-team {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 38.75rem;
            flex: 0 1 38.75rem;
  }
}

@media (max-width: 47.99875em) {
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body_right {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    overflow: auto;
    background-color: #fff;
    padding: 6.25rem 0.9375rem 1.875rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body_right::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 6.25rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
    z-index: 2;
  }

  .menu-open .menu__body_right {
    left: 0;
  }

  .menu-open .menu__body_right::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .intro__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.875rem;
  }

  .intro__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }

  .intro__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 auto;
  }

  .stats::before,
  .stats::after {
    display: none;
  }

  .stats__items {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1.875rem 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-stats {
    padding: 0rem 1.25rem;
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.875rem;
  }

  .opening-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contact-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .vidget-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 29.99875em) {
  .menu__list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .item-team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }

  .item-team_blue::after,
  .item-team_green::after {
    width: 100%;
  }

  .item-team_blue-l {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .item-team_green-l {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .item-team__avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 14.375rem;
            flex: 0 1 14.375rem;
    width: 14.375rem;
    height: 14.375rem;
  }

  .content-team {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .social-team__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .opening-footer {
    width: 100%;
    text-align: center;
  }

  .contact-footer {
    width: 100%;
    text-align: center;
  }

  .contact-footer__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bottom-footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bottom-footer__copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .bottom-footer__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (height: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem )) {
    .about {
      height: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem );
    }
}

@supports not (height: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem )) {
    .about {
      height: calc(18.75rem + 6.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .about {
      margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .about {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem )) {
    .about__body {
      padding-top: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem )) {
    .about__body {
      padding-top: calc(4.375rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem )) {
    .about__body {
      padding-bottom: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem )) {
    .about__body {
      padding-bottom: calc(4.375rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .intro {
      margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .intro {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem )) {
    .intro__item:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem )) {
    .intro__item:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .stats {
      margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .stats {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.7720588235rem  +  11.7647058824vw , 9.375rem )) {
    .team {
      margin-bottom: clamp( 3.125rem , 0.7720588235rem  +  11.7647058824vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.7720588235rem  +  11.7647058824vw , 9.375rem )) {
    .team {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
    .team__subtitle:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
    .team__subtitle:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
    .footer__body {
      padding-top: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
    .footer__body {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
    .footer__body {
      padding-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
    .footer__body {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2720588235rem  +  1.7647058824vw , 1.5625rem )) {
    .footer__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.2720588235rem  +  1.7647058824vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2720588235rem  +  1.7647058824vw , 1.5625rem )) {
    .footer__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 48em) and (max-width: 120em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -1.0416666667rem  +  3.4722222222vw , 3.125rem )) or (column-gap: clamp( 0.625rem , -1.0416666667rem  +  3.4722222222vw , 3.125rem ))) {
    .footer__body {
      -webkit-column-gap: clamp( 0.625rem , -1.0416666667rem  +  3.4722222222vw , 3.125rem );
         -moz-column-gap: clamp( 0.625rem , -1.0416666667rem  +  3.4722222222vw , 3.125rem );
              column-gap: clamp( 0.625rem , -1.0416666667rem  +  3.4722222222vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.0416666667rem  +  3.4722222222vw , 3.125rem )) or (column-gap: clamp( 0.625rem , -1.0416666667rem  +  3.4722222222vw , 3.125rem ))) {
    .footer__body {
      -webkit-column-gap: calc(0.625rem + 2.5 * (100vw - 48rem) / 72);
         -moz-column-gap: calc(0.625rem + 2.5 * (100vw - 48rem) / 72);
              column-gap: calc(0.625rem + 2.5 * (100vw - 48rem) / 72);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem )) {
    .footer__title {
      font-size: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem )) {
    .footer__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 48rem) / 72);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.7291666667rem  +  0.4340277778vw , 1.25rem )) {
    .opening-footer__item {
      font-size: clamp( 0.9375rem , 0.7291666667rem  +  0.4340277778vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.7291666667rem  +  0.4340277778vw , 1.25rem )) {
    .opening-footer__item {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 48rem) / 72);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.7291666667rem  +  0.4340277778vw , 1.25rem )) {
    .contact-footer__item {
      font-size: clamp( 0.9375rem , 0.7291666667rem  +  0.4340277778vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.7291666667rem  +  0.4340277778vw , 1.25rem )) {
    .contact-footer__item {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 48rem) / 72);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #FEA3AC;
  }

  .social-team__link:hover {
    color: #FEA3AC;
  }

  .contact-footer__link:hover {
    color: #DFEEB6;
    text-decoration: underline;
  }

  .vidget-footer__image:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .bottom-footer__link:hover {
    color: #FEA3AC;
  }
}

.webp .about{ background-image: url(../img/about/about.webp); }

.webp .stats::before{ background: url(../img/stats/top.webp) 0 0 no-repeat; }

.webp .stats::after{ background: url(../img/stats/bottom.webp) 0 0 no-repeat; }

.webp .footer{ background-image: url(../img/footer/bg.webp); }